PORT=5000
MONGODB_URI=mongodb://shahmeerkong_db_user:<db_password>@ac-enz2uzx-shard-00-00.jmltx6t.mongodb.net:27017,ac-enz2uzx-shard-00-01.jmltx6t.mongodb.net:27017,ac-enz2uzx-shard-00-02.jmltx6t.mongodb.net:27017/?ssl=true&replicaSet=atlas-kf2wi1-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=your-secret-key-change-this-in-production
STRIPE_SECRET_KEY=your_stripe_secret_key_here